[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev="flask run"
test = "ptw -- -v -rP"
coverage = "pytest --cov=application --cov-report term-missing"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"

[dev-packages]
pytest-cov = "*"
pytest-flask-sqlalchemy = "*"
pytest = "*"
pytest-watch = "*"

[requires]
python_version = "3"
